/* TODO: giai thich */
* {
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}
.right-side,
.left-side {
  border: 1px solid red;
  /* background-color: aquamarine; */
}
.all {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 10px;
}
.left-side {
  background-color: #dcf0ef;
}

.right-side {
  /* width: 70%; */
  /* flex: 2 1 auto; */
  /* width: calc(100% - 200px); */
  /* display: block; */
  padding: 0px 150px;
}

.procedure ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.list-process {
  text-align: center;
}

.step-12345 {
  display: inline-block;
}

.line-step {
  content: '';
  width: 140px;
  height: 1px;
  background-color: #0e8342;
}

.form-control input {
  padding: 10px;
  /* border-color: #c4cfc9; */
  border: 1px solid #c4cfc9;
  border-radius: 6px;
  margin-bottom: 20px;
  outline: none;
  display: block;
  width: 100%;
}
.sigup-form-control label {
  display: block;
  margin-bottom: 10px;
}

.signup-step1 select {
  display: block;
}
.form-control {
  /* CSS Grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.input-item:focus {
  border: 1px solid red;
}
.select-dk1 select {
  padding: 10px 10px;
  cursor: pointer;
  border: 1px solid #c4cfc9;
  outline: none;
}

.input-item {
  padding: 10px;
  /* border-color: #c4cfc9; */
  border: 1px solid #c4cfc9;
  border-radius: 6px;
  margin-bottom: 20px;
  outline: none;
  display: block;
  width: 100%;
}

.img-banner {
  width: 100%;
}
.color-red {
  color: red;
}

.list-process {
  padding: 20px;
}

.tlt-1 {
  font-size: 18px;
  color: #0e8342;
}

.break-line {
  height: 2px;
  color: gray;
  margin: 20px 0;
}

.box-container {
  display: inline;
  border: 2px solid red;
  width: 50px;
  height: 30px;
}
.box-module-button button {
  width: 80px;
  height: 45px;
  color: white;
  background-color: green;
  top: 50%;
  left: 50%;
}


.button-centered {
  margin-left: 50%;
}
.pre-step {
  background-color: white;
  color: #0e8342;
