/* TODO: giai thich */
* {
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}
.right-side,
.left-side {
  border: 1px solid red;
}
.all {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 10px;
}
.left-side {
  background-color: #dcf0ef;
}

.right-side {
  /* width: 70%; */
  /* flex: 2 1 auto; */
  /* width: calc(100% - 200px); */
  /* display: block; */
  padding: 0px 150px;
}

.procedure ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 100px;
  padding-left: 0px;
}

.list-process {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 24px;
  width: 24px;
  position: relative;
  margin: 0px 10px;
}
.list-process img {
  height: 24px;
  width: 24px;
  align-self: center;
}
.list-process span {
  position: absolute;
  top: 30px;
  left: -90px;
  width: 200px;
}
.box-container {
  flex-grow: 1;
  height: 2px;
  background-color: beige;
}

li.box-container.active {
  flex-grow: 1;
  height: 2px;
  background-color: #0e8342;
}

/* .box-container {
  border: 2px solid red;
  width: 50px;
  height: 30px;
} */

.step-12345 {
  display: inline-block;
}

.line-step {
  content: '';
  width: 140px;
  height: 1px;
  background-color: #0e8342;
}

.form-control input {
  padding: 10px;
  /* border-color: #c4cfc9; */
  border: 1px solid #c4cfc9;
  border-radius: 6px;
  margin-bottom: 20px;
  outline: none;
  display: block;
  width: 100%;
}
.sigup-form-control label {
  display: block;
  margin-bottom: 10px;
}

.signup-step1 select {
  display: block;
}
.form-control {
  /* CSS Grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.input-item:focus {
  border: 1px solid red;
}
.select-dk1 select {
  padding: 10px 10px;
  cursor: pointer;
  border: 1px solid #c4cfc9;
  outline: none;
}

.input-item {
  padding: 10px;
  /* border-color: #c4cfc9; */
  border: 1px solid #c4cfc9;
  border-radius: 6px;
  margin-bottom: 20px;
  outline: none;
  display: block;
  width: 100%;
}

.img-banner {
  width: 100%;
}
.color-red {
  color: red;
}

.box-module-button button {
  width: 80px;
  height: 45px;
  color: white;
  background-color: green;
  top: 50%;
  left: 50%;
}

.button-centered {
  /* margin-left: 50%; */
  border: 1px solid red;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.button-centered button {
  align-self: center;
}

.list-process {
  /* padding: 20px; */
}

.tlt-1 {
  font-size: 18px;
  color: #0e8342;
}
